/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fac105;
}

h1{
    color: #721a16;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}